<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Главная GymPad</title>
<div th:replace="~{commons :: head}"></div>
</head>

<body>

	<div th:replace="~{commons :: nav}"></div>

	<h3 class="text-center" th:if="${success}" th:text="${success}"></h3>

	
	<h1 class="text-center">Добро пожаловать на GymPad</h1>


<section class="indexInfo">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>GymPad - это онлайн сервис для тех, кто занимается бодибилдингом, пауэрлифтингом, фитнесом, а также другими силовыми и аэробными видами спорта. Вы получите много полезных возможностей. Ваши записи тренировок больше никогда не потеряются, а дневник будет доступен в любом месте и в любое время. На сайте также есть возможность воспользоваться дневником питания. Записывайте белки, жиры, углеводы и калории, которые вы потребляете. Серьезный подход к диете - это верный шаг к стройной и спортивной фигуре.</p>
                <p>Активная жизненная позиция дает человеку уверенность в себе, бодрость, а также укрепляет здоровье, и обеспечивает баланс духа и тела.</p>
                <p>Для одних физические нагрузки - это ежедневная изнурительная работа, а для других - развлечение, отдых.</p>
                <p>С помощью упражнений можно почувствовать легкость и гибкость в теле, мускулы, пресс. Но польза от спорта не только в физических упражнений. Он дарит хорошее настроение на весь день.</p>
            </div>
            </div>
            <div class="row">
            <div class="col">
                <p>Начинать спортивную тренировку лучше в комплексе:</p>
                <ul>
                    <li>диета</li>
                    <li>сбалансированное питание</li>
                    <li>закаливание</li>
                    <li>физические упражнения</li>
                </ul>
            </div>
            </div>
            <div class="row">
            <div class="col">
                <p>Спорт способствует физическому и психоэмоциональному развитию, а также способствует сплочению семьи или коллектива. Он является мощным фактором в сохранении сил и потенциала человека.
                </p>
            </div>
        </div>
    </div>
</section>


</body>

</html>